.container{
    width: 1170px;
    margin: 0 auto;
   
}


.col-4 {width: 33.33%;}

.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    
}

.clearfix{
    clear: both;
}

#mostvisited{
    
   height: 100%;
   width: 100%;
   
}

.content{
   text-align: center;
    box-sizing: border-box;
    position: relative;
  
}
.content .imagepart .mainphoto {
    width: 100%;
    padding: 10px;
    box-sizing:border-box;
}

.content i{
    position: absolute;
    color: white;
    right: 20px;
    top: 17px;
    border:10px solid blue;
    border-radius: 50%;
    background-color: blue;
    
}

.plantext i{

}

.logo{
    position: absolute;
    border: 10px solid white;
    background-color: white;
    border-radius: 50%;
   
    bottom: 55px;
    left: 141px;
}


.textpart h2 {
  font-size: 25px;
  

}

.textpart{
 margin-top: 50px;
 font-size: 1rem;
    bottom: -1px;
    position: relative;
    font-weight: 500;
    margin: 0;
    line-height: 31px;
   
}


text{
    font-size: 50px;
    


}

.left{
    border: 2px solid rgba(203,210,246,.5)  ;
    position:absolute;
    background-color:rgb(164, 164, 255);
    border-radius: 25%;
    border-width: 1px;
    padding-right: .875em;
    padding-left: .875em;
    border-radius: 10rem;
    bottom: 41px;
    left: 12px;
}
.right{
    border: 2px solid rgba(203,210,246,.5)  ;
    position:absolute;
    background-color:rgb(164, 164, 255);
    border-radius: 25%;
    border-width: 1px;
    padding-right: .875em;
    padding-left: .875em;
    border-radius: 10rem;
    bottom: 41px;
    right: 12px;
}


#planthevacation{
    margin-top: 100px;
}

.col-12 h1{
    text-align: center;
    font-size: 2.1875rem;
}
    
.col-12 p{
    text-align: center;
    font-size:  18px;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 30px;
    
}

.plan-text i{
    border: 20px solid blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: blue;
    position: absolute;
    color: white;
    text-align: center;
   top: 580px;
   font-size: 15px;
   
    
}

.plan-text{
    margin-top: 40px;
}
